/***
	styles.css
***/

#container {
	width: 768px;
	height: 960px;

	background-color: #eeeeee;

	position: absolute;
	top: 0px;
}

#overlay {
	width: 768px;
	height: 960px;

	position: absolute;
	top: 0px;
}

#overlay svg {
	width: 768px;
	height: 960px;
	pointer-events: none;

	z-index: 10;
}

#overlay svg circle {
	fill: rgba(160,0,0,0.5);
	stroke: none;
}